on:
  - push
  - pull_request
name: cabal build with ghc 9.6
jobs:
  runhaskell:
    name: cabal test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
        with:
          submodules: true
      - uses: haskell/actions/setup@v2
        with:
          ghc-version: '9.6.3'
          cabal-version: '3.10.2.0'
      - run: cabal build --dependencies-only --project-file ghc96.cabal.project all
      - run: cabal build                     --project-file ghc96.cabal.project all
      - run: cabal test                      --project-file ghc96.cabal.project all
